<div class="main_form_div">
    <form class="edit_profile_form" (ngSubmit)="onSubmit()">
      <h1>Edit Profile</h1>
  
      <!-- Añadir el campo oculto userId -->
      <!-- <input type="hidden" name="userId" [value]="userId"> -->
  
      <div class="input_div">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" [(ngModel)]="user.username" name="username" required>
      </div>
  
      <div class="input_div">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" [(ngModel)]="user.name" name="name" required>
      </div>
  
      <div class="input_div">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" [(ngModel)]="user.email" name="email" required>
      </div>
  
      <!-- <div class="input_div">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" [(ngModel)]="user.password" name="password" required>
      </div>
  
      <div class="input_div">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="user.confirmPassword" name="confirmPassword" required>
      </div> -->
  
      <div class="buttons_div">
        <a class="back_button" routerLink="/user-profile">Back</a>
        <button class="submit_button" type="submit">Save</button>
      </div>
    </form>
  </div>
  