<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products | Global Mart</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/products.css">

    <!-- Itim Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- ----------------- Nav ----------------- -->
    {{>./components/nav}}

    <!-- ----------------- Products ----------------- -->
    {{^isCompany}}
    <div class="main_products_div">
        <div class="product_section_container">
            {{#tittle}}
            <h2 class="section_title">{{type}}</h2>
            {{/tittle}}
            <div class="products_container">
                {{#allProds}}
                {{>./components/individualProduct}}
                {{/allProds}}
                {{^allProds}}
                <h3>No se han encontrado productos</h3>
                {{/allProds}}

            </div>
        </div>

        
    </div>
    {{/isCompany}}
    {{#isCompany}}
    <div class="main_products_div">
        <div class="product_section_container">
            {{#tittle}}
            <h2 class="section_title">{{type}}</h2>
            {{/tittle}}
            <div class="products_container">
                {{#allCompanyProds}}
                {{>./components/individualProduct}}
                {{/allCompanyProds}}
                {{^allCompanyProds}}
                <h3>No hay productos de la compañía registrados</h3>
                {{/allCompanyProds}}
    
            </div>
        </div>
    
    
    </div>
    {{/isCompany}}
    

    <!-- ----------------- Footer ----------------- -->
    {{>./components/footer}}
</body>

</html>