<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products | Global Mart</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/products.css">

    <!-- Itim Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- ----------------- Nav ----------------- -->
    {{>./components/nav}}

    <!-- ----------------- Products ----------------- -->
    <div class="main_products_div">
        {{#boolean.Electronica}}
        <div class="product_section_container">
            <h2 class="section_title">Electronica</h2>
            <div class="products_container">
            {{#ElectronicaProds}}
        
            {{>./components/individualProduct}}
        
            {{/ElectronicaProds}}
        
            {{^ElectronicaProds}}
            <h3>No hay productos en esta categoría</h3>
            {{/ElectronicaProds}}
            </div>
        </div>
        {{/boolean.Electronica}}
        {{#boolean.Hogar}}
        <div class="product_section_container">
            <h2 class="section_title">Hogar</h2>
            <div class="products_container">
            {{#HogarProds}}

            {{>./components/individualProduct}}

            {{/HogarProds}}

            {{^HogarProds}}
            <h3>No hay productos en esta categoría</h3>
            {{/HogarProds}}
            </div>
        </div>
        {{/boolean.Hogar}}

        {{#boolean.Libros}}
        <div class="product_section_container">
            <h2 class="section_title">Libros</h2>
            <div class="products_container">
            {{#LibrosProds}}
        
            {{>./components/individualProduct}}
        
            {{/LibrosProds}}
        
            {{^LibrosProds}}
            <h3>No hay productos en esta categoría</h3>
            {{/LibrosProds}}
            </div>
        </div>
        {{/boolean.Libros}}

        {{#boolean.Educacion}}
        <div class="product_section_container">
            <h2 class="section_title">Educación</h2>
            <div class="products_container">
            {{#eduProds}}
        
            {{>./components/individualProduct}}
        
            {{/eduProds}}
        
            {{^eduProds}}
            <h3>No hay productos en esta categoría</h3>
            {{/eduProds}}
            </div>
        </div>
        {{/boolean.Educacion}}

        {{#boolean.Electrodomesticos}}
        <div class="product_section_container">
            <h2 class="section_title">Electrodomesticos</h2>
            <div class="products_container">
            {{#applianceProds}}
        
            {{>./components/individualProduct}}
        
            {{/applianceProds}}
        
            {{^applianceProds}}
            <h3>No hay productos en esta categoría</h3>
            {{/applianceProds}}
            </div>
        </div>
        {{/boolean.Electrodomesticos}}

        {{#boolean.Deporte}}
        <div class="product_section_container">
            <h2 class="section_title">Deporte</h2>
            <div class="products_container">
            {{#sportProds}}
        
            {{>./components/individualProduct}}
        
            {{/sportProds}}
        
            {{^sportProds}}
            <h3>No hay productos en esta categoría</h3>
            {{/sportProds}}
            </div>
        </div>
        {{/boolean.Deporte}}

        {{#boolean.Musica}}
        <div class="product_section_container">
            <h2 class="section_title">Música</h2>
            <div class="products_container">
            {{#musicProds}}
        
            {{>./components/individualProduct}}
        
            {{/musicProds}}
        
            {{^musicProds}}
            <h3>No hay productos en esta categoría</h3>
            {{/musicProds}}
            </div>
        </div>
        {{/boolean.Musica}}

        {{#boolean.Cine}}
        <div class="product_section_container">
            <h2 class="section_title">Cine</h2>
            <div class="products_container">
            {{#movieProds}}
        
            {{>./components/individualProduct}}
        
            {{/movieProds}}
        
            {{^movieProds}}
            <h3>No hay productos en esta categoría</h3>
            {{/movieProds}}
            </div>
        </div>
        {{/boolean.Cine}}

        {{#boolean.Otros}}
        <div class="product_section_container">
            <h2 class="section_title">Otros</h2>
            <div class="products_container">
            {{#otherProds}}
        
            {{>./components/individualProduct}}
        
            {{/otherProds}}
        
            {{^otherProds}}
            <h3>No hay productos en esta categoría</h3>
            {{/otherProds}}
            </div>
        </div>
        {{/boolean.Otros}}
    </div>

        

        

        
    </div>
    <br><br>
    <!-- ----------------- Footer ----------------- -->
    {{>./components/footer}}
</body>

</html>