<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page | Global Mart</title>


    <!-- /* Links */ -->
    <link rel="stylesheet" href="/css/login.css">



    <!-- /* Itim Font */ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
        rel="stylesheet">


</head>

<body>
    <div class="form_div register_div">

        <h3>Register</h3>

        <form action="api/sendFormData" method="POST">

            <div class="mail_div">
                <p class="form_title mail_title">Email Address</p>
                <input type="text" placeholder="Email address">
            </div>

            <div class="id_div">
                <p class="form_title id_title">Username</p>
                <input type="text" placeholder="Username">
            </div>

            <div class="password_div">
                <p class="form_title password_title">Password</p>
                <input type="password" placeholder="Enter password">
            </div>

            <label class="user_type_label">
                <div class="individual_type">
                    <input type="radio" name="userType" value="individual"> Individual
                </div>
                <div class="company_type">
                    <input type="radio" name="userType" value="company"> Company
                </div>
            </label>

            <div class="buttons_div">
                <button type="submit">Register</button>
            </div>

        </form>
    </div>

</body>

</html>