<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page | Global Mart</title>

    
    <!-- /* Links */ -->
    <link rel="stylesheet" href="/css/login.css">


   
    <!-- /* Itim Font */ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
        rel="stylesheet">

    
</head>



<body>
    <!-- ----------------- Nav ----------------- -->
    {{>./components/nav}}


    <div class="login_div">

        <h3>Registro</h3>

        <form action="api/sendFormData" method="POST">

            <input type="text" placeholder="Nombre de usuario"><br>
            <input type="text" placeholder="Dirección de correo"><br>
            <input type="password" placeholder="Introduzca contraseña"><br>

            <label>
                <input type="radio" name="userType" value="individual"> Individual
            </label>
            <label>
                <input type="radio" name="userType" value="company"> Empresa
            </label>


            <div class="google_login">
                <img src="/images/google_logo.png" alt="Google Logo" onclick="redirectToGoogleLogin()">
            </div>

            <div class="buttons_div">
                <button type="submit">Registrar</button>
                <button type="reset" onclick="window.location.href='redir'">Cancelar</button>
            </div>

        </form>
    </div>

    <!-- ------------Footer ------------ -->
    {{>./components/footer}}

</body>

</html>


