<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>

   
    <!-- /* Links */ -->
    <link rel="stylesheet" href="/css/shoppingcart.css">

<!-- /* Itim Font */ -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
    rel="stylesheet">

    
</head>

<body>
<!-- ----------------- Nav ----------------- -->
{{>./components/nav}}

    <div class="cart-container">
        <h2>Cesta</h2>
        <div class="cart-item">
            <img src="/images/placeholder.png" alt="Producto">
            <div class="details">
                <p><strong>Nombre producto</strong></p>
                <p>Precio</p>
                <div>
                    <input type="checkbox" checked> Es un regalo
                </div>
                <div>
                    <input type="number" value="1" min="1" style="width: 40px;">
                </div>
            </div>
        </div>
        <div class="cart-item">
            <img src="/images/placeholder.png" alt="Producto">
            <div class="details">
                <p><strong>Nombre producto</strong></p>
                <p>Precio</p>
                <div>
                    <input type="checkbox" checked> Es un regalo
                </div>
                <div>
                    <input type="number" value="1" min="1" style="width: 40px;">
                </div>
            </div>
        </div>
        <div class="subtotal">Subtotal (2 productos): 17.99€</div>
    </div>


<!-- ------------Footer ------------ -->
{{>./components/footer}}

</body>

<script src="/js/slider.js"></script>

</html>