<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page | Global Mart</title>

   
    <!-- /* Links */ -->
    <link rel="stylesheet" href="/css/user.css">

    <!-- /* Itim Font */ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- ----------------- Nav ----------------- -->
    {{>./components/nav}}


    <div class="user_container">
        <div class="profile_section">
            <img src="../public/images/perfil.png" alt="">
            <div class="user_data">
                <h2>Nombre del usuario</h2>
                <p>Correo electronico: usuario@alumnos.urjc.es</p>
                <p>Fecha de nacimiento: 20/5/2000</p>
                <p>Nacionalidad: Español</p><br>
                <button>Editar perfil</button>
            </div>
        </div>
    </div>

    <div class="buttons_section">
        <button onclick="showStadistics()">Mostrar estadísticas</button>
        <button onclick="showHistory()">Mostrar Historial</button>
    </div>

    <!-- ------------Footer ------------ -->
    {{>./components/footer}}

</body>