<link rel="stylesheet" href="../../src/css/css_components/nav_style.css">
<nav class="main_div_nav">
    <div class="brand_buttons_div">
        <div class="title_div">
            <h2 class="brandname_title">
                GlobalMart
            </h2>
        </div>

        <div class="buttons_list">
            <div class="button_list_item">
                <a href="" class="button_list_item_link">Inicio</a>
            </div>
            <div class="button_list_item">
                <a href="" class="button_list_item_link">Productos</a>
            </div>
            <div class="button_list_item">
                <a href="" class="button_list_item_link">Ofertas</a>
            </div>
            <div class="button_list_item">
                <a href="contact.php" class="button_list_item_link">Sobre Nosotros</a>
            </div>
        </div>
    </div>

    <div class="searchbar_div">
        <form action="/buscar" method="get">
            <input type="search" name="query" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>
    </div>

    <div class="login_register_div">

    </div>
</nav>