<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me | Global Mart</title>

    <!-- Nav links -->
    <link rel="stylesheet" href="../../public/css/components_css/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../public/css/about.css">

    <!-- Itim Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
        rel="stylesheet">

    <!-- Footer links -->
    <link rel="stylesheet" href="../../public/css/components_css/footer.css">
</head>

<body>
    <!-- ----------------- Nav ----------------- -->
    <nav class="main_nav_div">
        <div class="title_sections_div">
            <h1 class="title_sections">GlobalMart</h1>

            <div class="sections_list">
                <a href="./index.html" class="section">Home</a>
                <a href="./products.html" class="section">Products</a>
                <a href="about.html" class="section">About us</a>
            </div>
        </div>

        <form class="search_form" role="search">
            <select class="search_category">
                <option value="all">All</option>
                <option value="electronics">Electronics</option>
                <option value="fashion">Fashion</option>
                <option value="home">Home</option>
                <option value="books">Books</option>
            </select>
            <input class="search_input" type="search" placeholder="Search" aria-label="Search">
            <button class="search_button" type="submit"><i class="bi bi-search"></i></button>
        </form>

        <div class="user_div">
            <a href="./login.html" class="login">Login</a>
            <a href="./register.html" class="register">Register</a>
        </div>
    </nav>

    <div class="categories_div">
        <a href="products.php?category=electronics" class="category"><i class="bi bi-list"></i>All</a>
        <a href="products.php?category=electronics" class="category">Electronics</a>
        <a href="products.php?category=fashion" class="category">Fashion</a>
        <a href="products.php?category=home" class="category">Home</a>
        <a href="products.php?category=books" class="category">Books</a>
    </div>

    <section class="about_section container mt-5">
        <h2 class="text-center mb-4">About Us</h2>
        <p class="lead">Welcome to GlobalMart, your number one source for all things you need. We're dedicated to giving
            you the very best of products, with a focus on dependability, customer service, and uniqueness.</p>
        <p>Founded in 2023, GlobalMart has come a long way from its beginnings. When we first started out, our passion
            for providing the best products drove us to do intense research, and gave us the impetus to turn hard work
            and inspiration into a booming online store. We now serve customers all over the world, and are thrilled to
            be a part of the eco-friendly wing of the retail industry.</p>
        <p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or
            comments, please don't hesitate to contact us.</p>
        <br>
    </section>

    <section class="about_me_section container mt-5">
        <h2 class="text-center mb-4">About Me</h2>
        <div class="grid-container">
            <div class="grid-item">
                <img src="../public/images/padel.jpg" class="img-fluid rounded mb-3" alt="Photo 1">
            </div>
            <div class="grid-item">
                <img src="../public/images/tienda.jpg" class="img-fluid rounded mb-3" alt="Photo 3">
            </div>
            <div class="grid-item">
                <img src="../public/images/baloncesto.jpg" class="img-fluid rounded mb-3" alt="Photo 2">
            </div>
        </div>
        <p class="lead">Hello! We are Luis, Juanma and Cristian, the founders of GlobalMart. With a passion for innovation and a
            commitment to excellence, We have dedicated our career to creating a unique shopping experience for our
            customers.</p>
        <p>Our journey began with a simple idea: to provide high-quality products that cater to the diverse needs of our
            customers. Over the years, we have worked tirelessly to bring this vision to life, and we are proud of the
            progress we have made.</p>
        <p>Outside of work, we enjoy playing padel and basketball, which help us stay inspired and motivated. We believe
            in the power of community and strive to make a positive impact through our work.</p>
        <p class="text-end"><strong>Sincerely,<br>Luis <br>Juan Manuel<br>Cristian</strong></p>
    </section>

    <!-- ----------------- Footer ----------------- -->
    <footer class="footer_main_div">
        <span class="footer_text">
            &copy; 2021 GlobalMart. All rights reserved.
        </span>
    </footer>
</body>

</html>