<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Login Option</title>

    <!-- /* Itim Font */ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
        rel="stylesheet">

    <!-- Style Link -->
    <link rel="stylesheet" href="../public/css/choose_login_option.css">
</head>

<body>
    <div class="main_login_options">
        <div class="login_options">
            <h3 class="login_options_title">Choose Your Login Option</h3>

            <div>
                <a href="" class="google_login_button">
                    <img src="../public/images/google_logo.png" alt="" class="button_image">
                    <p class="button_text">Login with Google</p>
                </a>
            </div>


            <a href="" class="microsoft_login_button">
                <img src="../public/images/microsoft_logo.png" alt="" class="button_image">
                <p class="button_text">Login with Microsoft</p>
            </a>


            <a href="" class="email_login_button">
                <img src="../public/images/email_logo.png" alt="" class="button_image">
                <p class="button_text">Login with Email</p>
            </a>

        </div>
    </div>
</body>

</html>