<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page | Global Mart</title>

    <!-- /* Nav links */ -->
    <link rel="stylesheet" href="../../public/css/components_css/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- /* Links */ -->
    <link rel="stylesheet" href="../../public/css/user.css">

    <!-- /* Slider links */ -->
    <link rel="stylesheet" href="../../public/css/components_css/slider.css">

    <!-- /* Itim Font */ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
        rel="stylesheet">

    <!-- /* Footer links */ -->
    <link rel="stylesheet" href="../../public/css/components_css/footer.css">

</head>

<body>
    <!-- ----------------- Nav ----------------- -->
    <nav class="main_nav_div">
        <div class="title_sections_div">
            <h1 class="title_sections">GlobalMart</h1>

            <div class="sections_list">
                <a href="./index.html" class="section">Home</a>
                <a href="./products.html" class="section">Products</a>
                <a href="about.html" class="section">About us</a>
            </div>
        </div>


        <form class="search_form" role="search">
            <select class="search_category">
                <option value="all">All</option>
                <option value="electronics">Electronics</option>
                <option value="fashion">Fashion</option>
                <option value="home">Home</option>
                <option value="books">Books</option>
            </select>
            <input class="search_input" type="search" placeholder="Search" aria-label="Search">
            <button class="search_button" type="submit"><i class="bi bi-search"></i></button>
        </form>

        <div class="user_div">
            <a href="./login.html" class="login">Login</a>
            <a href="./register.html" class="register">Register</a>
        </div>
    </nav>

    <div class="categories_div">
        <a href="products.php?category=electronics" class="category"><i class="bi bi-list"></i>All</a>
        <a href="products.php?category=electronics" class="category">Electronics</a>
        <a href="products.php?category=fashion" class="category">Fashion</a>
        <a href="products.php?category=home" class="category">Home</a>
        <a href="products.php?category=books" class="category">Books</a>
    </div>


    <div class="user_container">
        <div class="profile_section">
            <img src="../public/images/perfil.png" alt="">
            <div class="user_data">
                <h2>Nombre del usuario</h2>
                <p>Correo electronico: usuario@alumnos.urjc.es</p>
                <p>Fecha de nacimiento: 20/5/2000</p>
                <p>Nacionalidad: Español</p><br>
                <button>Editar perfil</button>
            </div>
        </div>
    </div>
    
    <div class="buttons_section">
        <button onclick="showStadistics()">Mostrar estadísticas</button>
        <button onclick="showHistory()">Mostrar Historial</button>
    </div>

</body>