<div class="user_container">
    <div class="profile_section">
        <ng-container *ngIf="user; else noUserData">
            <img [src]="user.imageBase64" alt="User profile">
            <div class="user_data">
                <h2>{{user.name}}</h2>
                <p>Username: {{user.username}}</p>
                <p>Email: {{user.email}}</p>
                <a *ngIf="!user.isGoogleUser" routerLink="/edit-profile" class="edit_profile_button">Edit Profile</a>
            </div>
        </ng-container>

        <ng-template #noUserData>
            <img [src]="profile_image" alt="User profile">
            <div class="user_data">
                <h2>{{name}}</h2>
                <p>Username: {{username}}</p>
                <p>Email: {{email}}</p>
                <a *ngIf="!isGoogleUser" routerLink="/edit-profile" class="edit_profile_button">Edit Profile</a>
            </div>
        </ng-template>
    </div>
</div>

<div class="buttons_section">
    <button *ngIf="isUser" routerLink="/user-graph">
        Show graph of my expenses
    </button>
    <button *ngIf="isCompany" routerLink="/company-graph">
        Show graph of my type of products
    </button>
</div>