<div class="user_container">
    <div class="profile_section">
        <ng-container *ngIf="user; else noUserData">
            <!-- Mostrar la imagen del usuario -->
            <img *ngIf="profile_image" [src]="profile_image" alt="User profile" class="profile-image" />
            <div class="user_data">
                <h2>{{ user.name }}</h2>
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <a *ngIf="!user.isGoogleUser" routerLink="/edit-profile" class="edit_profile_button">Edit Profile</a>
            </div>
        </ng-container>

        <ng-template #noUserData>
            <p>No user data available.</p>
        </ng-template>
    </div>
</div>

<div class="buttons_section">
    <button *ngIf="isUser" routerLink="/user-graph">
        Show graph of my expenses
    </button>
    <button *ngIf="isCompany" routerLink="/company-graph">
        Show graph of my type of products
    </button>
</div>