<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<nav class="main_nav_div">
    <div class="title_sections_div">
        <a href="/redir">
            <h1 class="title_sections">GlobalMart</h1>
        </a>

        <div class="sections_list">
            <a href="/allProducts" class="section">Products</a>
            <a href="/offers" class="section">Offers</a>
            <a href="/about" class="section">About us</a>
        </div>
    </div>


    <form class="search_form" role="search">
        <select class="search_category">
            <option value="all">All</option>
            <option value="electronics">Electronics</option>
            <option value="fashion">Fashion</option>
            <option value="home">Home</option>
            <option value="books">Books</option>
        </select>
        <input class="search_input" type="search" placeholder="Search" aria-label="Search">
        <button class="search_button" type="submit"><i class="bi bi-search"></i></button>
    </form>

    {{#logged}}
    <div class="login_user">
        <div class="add_product_div">
            <a href="/new_product" class="add_product_link"><i class="bi bi-plus-circle"
                    id="add_product_button"></i></a>
        </div>
        <div class="user_div">
            <a href="/profile" class="user"><i class="bi bi-person"></i></a>
            <h3 class="username">{{username}}</h3>
        </div>
        <a href="/shoppingcart" class="cart"><i class="bi bi-cart"></i></a>
        <form action="/logout" method="post" style="display:inline;">
            <!-- Si CSRF está habilitado, añade el token -->
            <input type="hidden" name="_csrf" value="{{token}}">
            <button type="submit" class="logout">Log Out</button>
        </form>
    </div>
    {{/logged}}

    {{^logged}}
    <div class="login_register_div">
        <button class="login">Login</button>
        <button class="register">Register</button>
    </div>
    {{/logged}}
</nav>

<div class="categories_div">
    <a href="/allProducts" class="category">All</a>
    <a href="/Electronica" class="category">Electronica</a>
    <a href="/Libros" class="category">Libros</a>
    <a href="/Educacion" class="category">Educacion</a>
    <a href="/Electrodomesticos" class="category">Electrodomesticos</a>
    <a href="/Deporte" class="category">Deporte</a>
    <a href="/Hogar" class="category">Hogar</a>
    <a href="/Musica" class="category">Musica</a>
    <a href="/Cine" class="category">Cine</a>
    <a href="/Otros" class="category">Otros</a>
</div>

<!--  Para mostrar el pop-up -->
{{ > choose_login-register_option}}

<script src="../../js/login.js"></script>