<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<nav class="main_nav_div">
    <div class="title_sections_div">
        <a href="redir">
            <h1 class="title_sections">GlobalMart</h1>
        </a>

        <div class="sections_list">
            <a href="" class="section">Products</a>
            <a href="" class="section">Offers</a>
            <a href="about_us" class="section">About us</a>
        </div>
    </div>


    <form class="search_form" role="search">
        <select class="search_category">
            <option value="all">All</option>
            <option value="electronics">Electronics</option>
            <option value="fashion">Fashion</option>
            <option value="home">Home</option>
            <option value="books">Books</option>
        </select>
        <input class="search_input" type="search" placeholder="Search" aria-label="Search">
        <button class="search_button" type="submit"><i class="bi bi-search"></i></button>
    </form>

    <div class="user_div">
        <a href="choose_login_option" class="login">Login</a>
        <a href="register" class="register">Register</a>
    </div>
</nav>

<div class="categories_div">
    <a href="" class="category"><i class="bi bi-list"></i>All</a>
    <a href="" class="category">Electronics</a>
    <a href="" class="category">Fashion</a>
    <a href="" class="category">Home</a>
    <a href="" class="category">Books</a>
</div>