* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------- Nav ------------------- */
/* Main div style */
.main_nav_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10%; */
    background-color: #d9d9d9;
    height: 60px;
    border-bottom: rgba(217, 217, 217, 0.7);
}

/* Logo style */
.title_sections_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.sections_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

.title_sections {
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
}

.sections_list a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    font-weight: 800;
}

/* Search bar style */
.search_bar_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 150px;
    width: 800px;
    border-radius: 20px;
}

.search_category {
    width: 100px;
    height: 30px;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.search_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-right: 150px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.search_input {
    width: 100%;
    height: 30px;
    padding: 0 20px;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.search_button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    padding-right: 10px;
}

/* User style */
.user_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
}

.login,
.register {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}

.register {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

/* ------------------- Categories ------------------- */
.categories_div {
    width: 100%;
    display: flex;
    gap: 20px;
    height: 40px;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(217, 217, 217, 0.4);
}

.categories_div a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 800;
}