<div class="login-container">
    <div class="form_div login_div">
        <h3 class="main_title">Log In</h3>

        <form (ngSubmit)="onSubmit()">
            <div class="mail_div">
                <strong>Enter your username</strong>
                <input [(ngModel)]="username" name="username" type="text" placeholder="Username">
            </div>

            <div class="password_div">
                <strong>Enter your password</strong>
                <input [(ngModel)]="password" name="password" type="password" placeholder="Password">
            </div>

            <div class="buttons_div">
                <button type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>