.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: "Itim", sans-serif;
}

.form_div {
    position: relative;
    /* Cambiado de absolute a relative */
    background-color: rgba(217, 217, 217, 0.5);
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    /* Cambiado de none a block */
}

.main_title {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mail_div,
.password_div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttons_div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.buttons_div button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.buttons_div button:hover {
    background-color: #0056b3;
}