<div class="form_div login_div">

    <h3 class="main_title">Log In</h3>

    <form action="/login" method="post"> <!--  la action es la ruta a la que se mandan los datos -->

        <div class="mail_div">
            <strong>Enter your username</strong>
            <input name="username" type="text" placeholder="Username">
            <!-- El name de cada cosa es como se llama para hacer el ReqParam -->
        </div>

        <div class="password_div">
            <strong>Enter your password</strong>
            <input name="password" type="password" placeholder="Password">
        </div>

        <div class="buttons_div">
            <button type="submit">Sign in</button>
        </div>

    </form>
</div>