<div class="app-container">
    <!-- ----------------- Nav ----------------- -->
    <app-nav></app-nav>

    <!-- ----------------- Slider ----------------- -->
    <app-slider></app-slider>

    <!-- ----------------- Products ----------------- -->
    <div class="main_products_div">
        <div class="product_section_container">
            <h2 class="section_title">New Products</h2>
            <div class="products_container">
                <!--all new products obtained-->
            </div>
        </div>

        <div class="product_section_container">
            <h2 class="section_title">Most Viewed Products</h2>
            <div class="products_container">
                <!--most viewed products-->
            </div>
        </div>
    </div>

    <!-- ----------------- Footer ----------------- -->
    <app-footer></app-footer>
</div>